@font-face {
    font-family: 'Century Gothic';
    src: url('path/to/century-gothic.woff2') format('woff2'),
    url('path/to/century-gothic.woff') format('woff');
}
@font-face{
    font-family: 'Montserrat';
    src: url('path/to/montserrat-regular.woff2') format('woff2'),
    url('path/to/montserrat-regular.woff') format('woff');
}
  *{
    box-sizing: border-box;
  }
  .nav-item-margin {
    margin-left: 48px;
    font-size: 20px;
    font-weight: bold;
  }

  .nav-item-margin:hover {
    text-decoration: underline;
    font-style: normal;
    color: wheat;
  }

  .bg-image {
    background-image: url('../Images/SQbg_2.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  }
  .nav-item a{
    color:white;
    font-weight: bold;
  }
  .nav-item a:hover{
    text-decoration: underline;
    font-style: normal;
    color: wheat;
  }
  .home{
    width: 100vw;
    height: 100vh;
  }
  /* .home{
    background-image: url('/Images/SparkQuest.gif');
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
  } */
  .text-tech {
    color: #FFF;
    font-family: 'Atomic Age', cursive;
  }
  .text {
    color: #FFF;
    font-family: 'Atomic Age', cursive;
    font-size: 12px;
    margin-top: -13px;
  }

  .techno-img {
    width: 75px;
    height: 75px;
    margin-left: -12px;
  }

  .techno {
    margin-left: 71px;
    font-size: 17px;
    margin-top: -6px;

  }

  .navbar {
    background-color: transparent;
  }

  .navbar-toggler {
    color: white;
    border-color: white;
  }

  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;charset=utf-8,%3Csvg viewBox="0 0 30 30" xmlns="http://www.w3.org/2000/svg"%3E%3Cline x1="0" y1="6" x2="30" y2="6" stroke="white" stroke-width="2"%3E%3C/line%3E%3Cline x1="0" y1="15" x2="30" y2="15" stroke="white" stroke-width="2"%3E%3C/line%3E%3Cline x1="0" y1="24" x2="30" y2="24" stroke="white" stroke-width="2"%3E%3C/line%3E%3C/svg%3E');
  }

  .spark {
    margin-left: 56px;
  }

  .spark img {
    width: 86%;
  }

  .spark2 img {
    width: 79%;
    margin-top: -33px;
    margin-left: -13px;
  }

  .cyber {
    font-family: 'Century Gothic', sans-serif;
    color: white;
    display: flex;
    margin-left: 71px;
    margin-top: -67px;
  }

  .cyber h4 {
    color: red;
    font-weight: bold;
  }

  .date {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    margin-left: 71px;
    margin-top: -12px;
    font-size: 41px;
  }

  .sparkdiv {
    margin-top: -40px;
  }

  .btn button {
    font-family: 'Montserrat', sans-serif;
    background-color: red;
    color: black;
    margin-left: 58px;
    height: 47px;
    width: 103%;
  }

  .countdown p{
    font-weight: bold;
    font-size: 25px;
    margin: 27px 0 0 75px;
    color: white;
  }
  #countdown{
    color: white;
    font-weight: bold;
    font-size: 25px;
    margin: 27px 0 10px 75px;
    
  }
  .about{
   
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed; 
    overflow-x: hidden;
    width: 100vw;
    height: 100vh; 
  }
  .about-head {
    font-family: 'Montserrat', sans-serif;
    color: white;
    display: flex;
    justify-content: space-between;
    margin-left: 71px;
    margin-right:71px;
  }

  .about-head h1 {
    color: red;
  }
  .about-para{
    margin-left: 71px;
    margin-top: 28px;
    text-overflow: ellipsis;
    margin-right:71px;
  }
  .about-para{
    font-family: 'Montserrat', sans-serif;
    color: white;
    font-size:25px;
  }
  .about-img{
    display: flex;
    margin-left: 77px;
  }
  .a1 img{
    width: 90%;
  margin-top: 9px;
  border: 1px solid white;
  border-radius: 20% 0% 20% 0%;
  box-shadow: 1px 0px 9px white;

  }
  .a2 img{
    width: 82%;
  margin-top: 139px;
  margin-left: 21px;
  }
  .about-content {
    backdrop-filter: blur(3px);
    background-color: rgb(252 236 236 / 11%);
    margin: 45px 40px;
    padding: 41px;
    

}
@media only screen and (max-width:382px){
    .techno{
        margin-left: 2px;
        font-size: 17px;
        margin-top: -6px;
        text-align: center;
    }
    .techno-img {
      width: 75px;
      height: 75px;
      margin-left: -8px;
    }
    .sparkdiv{
        margin-top: 28px;
    }
    .spark2 img {
        width: 102%;
        margin-top: -14px;
        margin-left: -28px;
    }
    .date{
        font-family: 'Montserrat', sans-serif;
        color: white;
        margin-left: 16px;
        margin-top: 45px;
        font-size: 33px;
        text-align: center;
    }
    .cyber{
        font-family: 'Century Gothic', sans-serif;
        color: white;
        display: flex;
        margin-left: 79px;
        margin-top: -16px;
    }
    .spark img{
      width: 90%;
      margin-left: -5px;
      margin-top: 10px;
    }
    .countdown p{
      color: white;
      font-weight: bold;
      font-size: 20px;
      margin-top: 55px;
      margin-left: 138px;
    }
    #countdown{
      font-weight: bold;
      font-size: 25px;
      margin: 25px 0 0 91px;
    }
    .btn button {
      font-family: 'Montserrat', sans-serif;
      background-color: red;
      color: white;
      margin-left: 85px;
      height: 47px;
      width: 103%;
      margin-top: 77px;
      /* font-size: 14px; */
      font-weight: bold;
    }
    .about{
   
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed; 
      width: 100vw;
      height: 100vh; 
    }
    .aspark img{
      margin-left:-270px;
    }
    .atext h1{
      margin: 0;
      padding: 0;
    }
    
   
    .about-head h1 {
      color: red;
      font-weight: bold;
      margin-top: 111px;
      margin-left: -12px;
      margin-right: 151px;
    }
    .about-head h6{
      margin: 5px 5px 10px -57px;
      font-weight: bold;
      font-size: 15px;
      text-decoration: underline;
    }
    
    .about-para{
      font-family: 'Montserrat', sans-serif;
      color: white;
      font-size:15px;
      margin: 2px
    }
    
    
    .a2 img{
      width: 82%;
      margin-top: 139px;
      margin-left: 21px;
    }
    .about-content {
      backdrop-filter: blur(3px);
      background-color: rgb(252 236 236 / 11%);
      margin: 200px 37px;
      padding: 15px;
      
  
  }

}
  /* .spark-img{
        margin-top: 7px;
        margin-left: 40px;
        width: 801px;
        height: 349px;
      }
      .hero-logo{
        /* margin-right: 93px;
         margin-top: -25px;
         width: 350px;
         height: 340px;
      } */